// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Nunito", "sans-serif";
$headers-font: "Nunito", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin: auto;
  font-family: "Nunito", "sans-serif";
  font-weight: 500;
  /* line-height: 1.2; */
}

/* H1 */
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  /* identical to box height, or 45px */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1.11101px;
  color: #452E4F;
}


h2 {
  letter-spacing: 0.746599px;
}

p {
  letter-spacing: 0.04em;
}
