<style>
body {
  background: linear-gradient(35deg, #513e5cde, #6d7199a3);
}
</style>

<div class = "home_container">
  <h1 id="home-title" class="animate__animated animate__pulse">
    TRACER
  </h1>
  <%# <h1 id="home-click" class="animate__animated animate__pulse">
    ⬆️
    <br>
    Clique moi !
  </h1> %>
  <%= link_to spots_path do %>
    <section class="stage">
      <figure class="ball", ><span class="shadow"></span></figure>
    </section>
  <% end %>

  <p id='home-description'>Retrouve les meilleurs spots de Parkour du monde</p>
</div>
