<div class = "home_container">
  <h1 id="home-title" class="animate__animated animate__pulse">
    Bienvenue dans Tracer !
  </h1>
  <%= link_to spots_path do %>
    <section class="stage">
      <figure class="ball"><span class="shadow"></span></figure>
    </section>
  <% end %>
</div>
