/* Display bouton carré */
.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

/* Retour arrière */
.round-button {
z-index: 1;
position: fixed;
display: grid;
justify-content: center;
width: 40px;
height: 40px;
left: 24px;
top: 48px;
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
background: rgba(255, 255, 255, 0.53);
border: 1px solid #FFFFFF;
border-radius: 35px;
}


.square-button {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  left: 228px;
  top: 339px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
}

/* Rectangle 1 */
.move-bouton {
  width: 16vh;
  height: 42px;
  background: radial-gradient(276.04% 1435.42% at 82.69% 217.71%, #7077A0 0%, #4F3A57 100%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    left: 14.48%;
    right: 23.45%;
    top: 27.78%;
    bottom: 36.51%;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* or 17px */
    letter-spacing: 0.04em;
    margin-bottom: 0rem;
    color: #FFFFFF;
  }
}
