// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "map";
@import "button";
@import "habillage";
@import "fond";
@import "video";
@import "form";
@import "edit_user";


body {
  background-color: rgb(144, 144, 144);
}

a {
  color: none;
  text-decoration: none;
}
