// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "map";
@import "button";
@import "habillage";
@import "fond";



body {
  background-color: rgb(144, 144, 144);
}

.bookmarkeur {
  //Demo zoom: 2;

  zoom: 2;
  --active: #4F3A57;
  --border: #4F3A57;
  --duration: 0.6s;
  display: block;
  cursor: pointer;
  transition: transform .1s ease;
  input {
      display: none;
      & + div {
          position: relative;
          perspective: 160px;
          width: 14px;
          height: 14px;
          overflow: hidden;
          svg {
              margin: 0 auto;
              display: block;
              width: 6px;
              height: 12px;
              &.background {
                  color: var(--border);
                  // stroke-width: 1px;
                  fill: none;
                  stroke-width: 0.2vh;
              }
              &.active {
                  color: var(--active);
                  z-index: 2;
                  position: absolute;
                  left: 4px;
                  top: 0;
                  transform-origin: 50% 0;
                  animation: flipBack var(--duration) ease-in forwards;
              }
          }
      }
      &:checked {
          & + div {
              svg {
                  &.active {
                      animation: flip var(--duration) ease-out forwards;
                  }
              }
          }
      }
  }
}

@keyframes flip {
  0% {
      transform: rotateX(90deg);
  }
  32.5% {
      transform: rotateX(30deg);
  }
  100% {
      transform: rotateX(0deg);
  }
}

@keyframes flipBack {
  0% {
      transform: rotateX(0deg);
  }
  67.5% {
      transform: rotateX(30deg);
  }
  100% {
      transform: rotateX(90deg);
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
      box-sizing: inherit;
  }
}
