.mapboxgl-popup-content {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
}

.mapboxgl-popup{
  // transform:none !important;
  bottom: 15%;
  max-width: 240px;
}



// enlever l'anchor de la pop-up

// .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
// .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
// .mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
// .mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
// .mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
// .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
// .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
// .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
// .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
//   display:none !important;
// }

.mapboxgl-user-location-dot, .mapboxgl-user-location-dot:before {
  background-color: #4f3a57;
}

.popup-title a {
  text-decoration: none;
  color: $charcoal;
  font-size: 1.2rem;

}

.mapboxgl-popup-content {
  background-color: #ffffffa8 !important;
  border-radius: 14px !important;
  h2 {
    margin-top: 1rem;
  }
  p {
    font-size: 1rem;
    color: $charcoal;
  }
  img {
    border-radius: 10px !important;
  }
}

.mapboxgl-ctrl-geocoder--icon-search {
  left: 115px;
  top: 10px;
}

// j'ai enlevé le logo mdr
.mapboxgl-ctrl-bottom-left {
  display: none;
}
// la aussi
.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon {
  display: none;
  .mapboxgl-ctrl-geocoder--icon-close {
    display: none;
  }
}

.mapboxgl-ctrl-group {
  position: fixed;
  top: 43px;
  right: 29px;
  z-index: 1;
  }

.mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  // padding: inherit;
  border-radius: 10px;
}

.mapboxgl-control-container {


    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: #4F3A57;
    //pour le petit btn géoloc le margin le recentre
  .mapboxgl-ctrl button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    }


  .mapboxgl-ctrl-top-right {
    position: absolute!important;
    width: 328px!important;
    height: 62px!important;
    left: 24px!important;
    top: 106px!important;
    .mapboxgl-ctrl [aria-label="Clear"] :not(div) {
      // margin: 0 !important;
      display: none!important;
      padding: 1vh;
      .mapboxgl-ctrl-geocoder--input {
        width: none !important;
        // border: 0 !important;
        // background-color: transparent !important;
        height: auto !important;
        // margin: 0 !important;
        // color: rgba(0,0,0,.5) !important;
        // text-overflow: ellipsis !important;
        // white-space: nowrap !important;
        // overflow: hidden !important;
        height: 19px!important;
        left: 81px!important;
        right: 79px!important;
        top: 128px!important;

        font-family: 'Helvetica Neue'!important;
        font-style: normal!important;
        font-weight: 400!important;
        font-size: 16px!important;
        line-height: 120%!important;
        /* or 19px */

        display: flex!important;
        align-items: center!important;
        letter-spacing: 0.04em!important;

        color: #4F3A57!important;
      }
    }
  }
}
